<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="ConnStringDB" value="Server=BENIC;Database=ContactList;Trusted_Connection=True;MultipleActiveResultSets=true"/>
    <add key ="UseDB" value="false"/>
    <add key="user" value ="User"/>
    <add key="pass" value="password"/>
  </appSettings>
</configuration>