<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
  <appSettings>
    <add key="JsonLocation" value="C:\contact\contactlist.json"/>
    <add key="ConnStringDB" value="Server=BENIC;Database=ContactList;Trusted_Connection=True;MultipleActiveResultSets=true"/>
    <add key="UserLocation" value="C:\contact\user.json"/>
    <add key ="UseDB" value="false"/>
  </appSettings>
</configuration>